#!/usr/bin/env bash

# Google Chrome
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'

# Used to interact with config git repo in home
alias dotfiles='/usr/bin/git --git-dir=/Users/jha/.cfg/ --work-tree=/Users/jha'

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# tmux Aliases
alias tls='tmux list-session'
alias tks='tmux kill-session -t'
alias tas='tmux attach -t'
alias tss='tmux switch -t'
